body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
}
.BarraLaterale {
    padding-top:50px;
    background-color: #2c3e50;
    width: 200px;
    height: 600%;
    display: flex;
    flex-direction:column;
    align-items: stretch;
    float:left;
}
.InsiemePagine {
    padding-top:50px; 
}
.Button {
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 22px;
    color: white;
    text-align: center;
    background: #2c3e50;
    border: 0;
}
.input {
    font-family: "Times New Roman";
    font-size: 16px;
    font-style: normal;
}


.section {
    background-color: white;
    width: 95%;
    margin-right: 30%;
    padding: 1%;
    margin-left: 5;
    height: 700px
}
.Button:hover {
  background:#1d2833;
}