body {
    background: #584b69;
    border: 0 !important;
    padding: 0 !important;
}
.BarraLaterale {
    background-color: #362e41;
    width: "150px";
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}