html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}
.Container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.BarraLaterale {
    background-color: #2c3e50;
    width:25%;
    padding-top:50px;
    flex-direction: column;
}
.InsiemePagine {
    padding-left: 30px;
    padding-top:50px; 
    background-color: #5e748a;
    flex-direction:row;
    flex-wrap: wrap;
}
.form-control {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}
.Button {
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 22px;
    color: white;
    text-align: left;
    background: #2c3e50;
    border: 0;
    padding-left: 30px;
}
.Button:hover {
    background:#1d2833;
}