html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}
.BarraLaterale {
    background-color: #2c3e50;
    width:12.5%;
}
.InsiemePagine {
    padding-top:50px; 
}
.Button {
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 22px;
    color: white;
    text-align: center;
    background: #2c3e50;
    border: 0;
}
.Button:hover {
    background:#1d2833;
}