html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    background-color: rgb(124, 122, 122);
    width: 100%;
}
.Container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.BarraLaterale {
    background-color: #2c3e50;
    min-width: 20%;
    max-width: 20%;
    padding-top:50px;
    flex-direction: column;
}
.InsiemePagine {
    padding-left: 30px;
    padding-top:50px; 
    background-color: #5e748a;
    flex-direction:row;
    flex-wrap: wrap;
}
.form-control {
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  width: 30%;
  min-width: 30%;
  margin-bottom: 10px;
  margin-right: 20px;
}
.Button {
    position: relative;
    width: 90%;
    height: 50px;
    font-size: 30x;
    color: white;
    text-align: left;
    background: #2c3e50;
    border: 0;
    padding-left: 30px;
}
.Button:hover {
    background:#1d2833;
}