body {
    margin: 0 !important;
    padding: 0 !important;
}
.BarraLaterale {
    padding-top:50px;
    background-color: #2c3e50;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: stretch;
    float:left;
}
#InsiemePagine {
    padding-top:50px; 
}
.Wrapper {
        
}
.Button {
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 22px;
    color: white;
    text-align: center;
    background: #2c3e50;
    border: 0;
}

.Button:hover {
  background:#1d2833;
}