body {
    border: 0 !important;
    padding: 0 !important;
}
.BarraLaterale {
    background-color: black;
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: stretch;
    float:left;
}
.InsiemePagine {
    margin-left:20%;
}
.Wrapper {
    margin:auto;
}
.Button {
    
}