body {
    background: #584b69;
    border: 0 !important;
    padding: 0 !important;
}
.BarraLaterale {
    background-color: #362e41;
    width: 100px;
    height: 100%;
    display: flex;
    align-items: stretch;
}
.Wrapper {
    display: flex;
    align-items: flex-start;
}