body {
  margin: 0 !important;
  padding: 0 !important;
}
.BarraLaterale {
    background-color: black;
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: stretch;
    float:left;
}
.InsiemePagine {
    margin-left:20%;
}
.Wrapper {
    margin:auto;
}
.Button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2c3e50;
  border: 0;
  border-bottom: 2px solid #22303f;
  cursor: pointer;
  box-shadow: inset 0 -2px #22303f;
}
.Button:active {
    top: 1px;
  outline: none;
  box-shadow: none;
}