html, body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    width: 100%;
}
.Container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.BarraLaterale {
    background-color: #2c3e50;
    width:12.5%;
    padding-top:50px;
    flex-direction: column;
}
.InsiemePagine {
    padding-top:50px; 
    background-color: #5e748a;
}
.Button {
    position: relative;
    width: 100%;
    height: 60px;
    font-size: 22px;
    color: white;
    text-align: left;
    background: #2c3e50;
    border: 0;
    padding-left: 30px;
}
.Button:hover {
    background:#1d2833;
}