body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
}
.WrapperSito {
  background-color: rgb(218, 213, 213);
  height: 100%;
  width: 100%;
}
.BarraSuperiore {
  background-color: black;
  overflow: hidden;
}
.BarraSuperiore a { 
  float: center;
  color: white;
  text-align: center;
  padding: 15px 15px;
  font-size: 15px;
  text-decoration: none;
}
.BarraSuperiore a:hover {
  background-color: white;
  color: black;
}
.TitoloSpiegazione {
  padding-top: 5%;
  background-color: rgb(218, 213, 213);
  height: 40%;
  width: 45%;
  font-family:'Times New Roman', Times, serif;
  color: black;
  text-align: justify;
}
.Immagine {
  height: 220px; 
  margin-left: 17%; 
  padding-top: 6%; 
  padding-bottom: 10%; 
  margin-right: 17%;
}
.Immagine2 {
  height: 300px;
  margin-left: 17%;
  padding-top: 1%;
  padding-bottom: 10%;
  margin-right: 17%;
}