body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
}
.WrapperSito {
  background-color: white;
  height: 100%;
  width: 100%;
}
.BarraSuperiore {
  background-color: black;
  overflow: hidden;
}
.BarraSuperiore a { 
  float: left;
  color: white;
  text-align: center;
  padding: 15px 15px;
  font-size: 15px;
  text-decoration: none;
}
.BarraSuperiore a:hover {
  background-color: white;
  color: black;
}
.TitoloSpiegazione {
  padding-top: 5%;
  height: 40%;
  width: 45%;
  font-family:'Times New Roman', Times, serif;
  color: black;
  text-align: justify;
}
.Immagine {
  height: 40%;
  margin-left: 65%;
  margin-right: 10%;
  margin-top: 10%;
}