body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  background-color: rgb(218, 213, 213);
}
.WrapperSito {
  background-color: rgb(218, 213, 213);
  height: 100%;
  width: 100%;
  margin-top: 10%;
  display: flex;
}
.BarraSuperiore {
  background-color: black;
  overflow: hidden;
}
.BarraSuperiore a { 
  float: center;
  color: white;
  text-align: center;
  padding: 15px 15px;
  font-size: 15px;
  text-decoration: none;
}
.BarraSuperiore a:hover {
  background-color: white;
  color: black;
}
.TitoloSpiegazione {
  margin-left: 10%;
  background-color: rgb(218, 213, 213);
  height: 40%;
  width: 35%;
  font-family:'Times New Roman', Times, serif;
  color: black;
  text-align: justify;
}
.Immagine {
  height: 220px; 
  padding-left: 15%;
}
.Immagine2 {
  height: 300px;
  padding-left: 15%;
}