body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
}
.WrapperSito {
  background-color: white;
  height: 100%;
  width: 100%;
}
.BarraSuperiore {
  background-color: black;
  overflow: hidden;
}
.BarraSuperiore a { 
  float: left;
  color: white;
  text-align: center;
  padding: 15px 15px;
  font-size: 15px;
  text-decoration: none;
}
.BarraSuperiore a:hover {
  background-color: white;
  color: black;
}
.TitoloSpiegazione {
  padding-top: 5%;
  height: 40%;
  width: 65%;
  font-family:'Times New Roman', Times, serif;
  color: black;
  text-align: justify;
}
.Immagine {
  padding-right: 5%;
  height: 300px;
  float: right;
  margin: 5px;;
}