body {
  border: 0 !important;
  padding: 0 !important;
}
.WrapperSito {
  background-color: #584b69;
  height: 100%;
  width: 100%;
}
.BarraSuperiore {
  background-color: black;
  overflow: hidden;
}
.BarraSuperiore a { 
  float: left;
  color: white;
  text-align: center;
  padding: 15px 15px;
  font-size: 15px;
  text-decoration: none;
}
.BarraSuperiore a:hover {
  background-color: white;
  color: black;
}
.TitoloSpiegazione {
  padding-top: 5%;
  height: 40%;
  width: 65%;
  font-family:'Times New Roman', Times, serif;
  color: black;
  text-align: justify;
}
.Immagine {
    height: 190px;
    float: right;
    border-radius: 8px;
    margin: 5px;;
}